.isComplete-label {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.isComplete-span {
  padding: 0.5rem 0.25rem;
}

.isComplete-input {
  height: 25px;
  width: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #202020;
  border-radius: 50px;
  outline: none;
  transition-duration: 0.2s;
  background-color: white;
  cursor: pointer;
}

.isComplete-input:checked {
  border: 1px solid #202020;
  background-color: rgb(202, 219, 221);
}

.check {
  position: absolute;
  left: 0.01rem;
  top: 0.15rem;
}
.isComplete-hidden {
  display: none;
}
