.planContainer-container {
  margin-bottom: 3em;
}

.planForm-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.flexThis {
  display: flex;
}

.ingredientList-container {
  align-self: flex-end;
}

.plan-input {
  display: flex;
  min-width: 20em;
  margin: 0.1rem;
  background: white;
  flex-wrap: wrap;
  font-size: 1rem;
  color: black;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  transition: all 1s ease;
}

.plan-button {
  background: #668a6a;
  color: white;
  border: none;
  cursor: pointer;
}
.trash {
  background: #404d41;
}
.complete-btn {
  background: rgba(195, 224, 204, 1);
}
.task-item {
  padding: 0rem 0.5rem;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none; */
/* border-radius: 10px; */
/* } */

/* Custom Select */
/* .select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: black;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
} */
/* Arrow */
/* .select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  background: rgba(195, 224, 204, 1);
  cursor: pointer;
  pointer-events: none; */
/* border-radius: 0 10px 10px 0; */
/* } */
/* Transition */

/* .select:hover::after {
  transform: scale(1.5);
} */

.stationaryForm {
  position: fixed;
}
.fa-angle-down {
  color: lightgrey;
}
