html,
body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: grid;
  width: 100%;
  height: 100vh;
  background: palegoldenrod;
  grid-template-columns: 0.35fr 1fr;
  grid-template-rows: 1fr 0.08fr;
  grid-template-areas:
    "sidebar main"
    "sidebar main"
    "footer footer";
}
.sidebar {
  grid-area: sidebar;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

/* @media all and (max-width: 100%) {
  .sidebar {
    grid-column: 1 / 3;
  }
} */
