.detailsFormContainer .listory-container {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  align-items: center;
  justify-content: center;
}
.detailsFormChild {
  display: flex;
}
.details-button {
  max-width: 20%;
}

/* .grocery .public {
  display: inline-flex;
} */
