.ingredient-container {
  display: flex;
  flex-direction: column;
  margin: 0 1em 0;
  padding: 1em;
  border: 1px solid lightgrey;
  background-color: white;
  position: fixed;
  transform: translateY(40px);
}

.ingredient {
  cursor: pointer;
}
