.planCard-container {
  min-width: 28em;
  height: auto;
  margin: 0 0.5em 0.5em 0;
  font-size: small;
  overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.planCard-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.planCard-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.buttons-container {
  display: flex;
}

.Collapsible__trigger {
  margin: 1em;
  cursor: pointer;
  font-size: x-large;
}
