.connection-btns {
  background: rgb(243, 243, 243);
  color: rgb(177, 177, 177);
  border: none;
}
.connection-btns:hover {
  background: rgb(223, 223, 223);
}

.flex-flow {
  flex-flow: wrap-reverse;
  padding: 1em;
  margin-bottom: 0.25em;
}
.specify-width {
  min-width: 10em;
}
h7 {
  justify-content: center;
}
